.task {
  display: flex;
  flex-direction: column;
  background: inherit;
  padding: 0.5rem;
  border-radius: 15px;
  color: var(--COLOR-TEXT);
  border: 1px solid #b4b4b4;
}

.task:hover {
  cursor: pointer;
  border-radius: 15px;
  background: var(--COLOR-HOVER);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.desc {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
