.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.active {
  visibility: visible;
  z-index: 1000;
}

.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flow-root;
  box-sizing: border-box;
  position: relative;
  width: 480px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
}

.content div {
  width: 100%;
}

.content h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.content p {
  display: block;
  font-size: 1.2rem;
  text-align: start;
}

.delete_btn {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.delete_btn:hover {
  color: #e64263;
  transition: all 0.6s ease-in-out;
  transform: scale(1.2);
}

.close_modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.close_modal:hover {
  color: #e64263;
  transition: all 0.6s ease-in-out;
  transform: scale(1.2);
}
