@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
  --COLOR-TEXT: #505050;
  --COLOR-HOVER: #fff;
  --COLOR-BACKGROUND1: #fccb90;
  --COLOR-BACKGROUND2: #d57eeb;
  --COLOR-BACKGROUND3: #a8edea;
  --COLOR-BACKGROUND4: #fed6e3;
}

/* Reset Style */
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--COLOR-TEXT);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

/* Style */

.NOT_STARTED:before {
  background-image: linear-gradient(to right, #ffd8d8 0%, #ffa973 100%);
}

.IN_PROGRESS::before {
  background-image: linear-gradient(to right, #abffe1 0%, #6dffbd 100%);
}

.DONE::before {
  background-image: linear-gradient(to right, #fec2ff 0%, #fc68ff 100%);
}

.add_button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  color: var(--COLOR-TEXT);
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
}

.add_button.NOT_STARTED:hover {
  box-shadow: 0 0 5px #ffa973;
}

.add_button.IN_PROGRESS:hover {
  box-shadow: 0 0 5px #6dffbd;
}

.add_button.DONE:hover {
  box-shadow: 0 0 5px #fc68ff;
}
