:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
  --COLOR-TEXT: #505050;
  --COLOR-HOVER: #fff;
  --COLOR-BACKGROUND1: #fccb90;
  --COLOR-BACKGROUND2: #d57eeb;
  --COLOR-BACKGROUND3: #a8edea;
  --COLOR-BACKGROUND4: #fed6e3;
}

/* Reset Style */
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--COLOR-TEXT);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.NOT_STARTED:before {
  background-image: linear-gradient(to right, #ffd8d8 0%, #ffa973 100%);
}

.IN_PROGRESS::before {
  background-image: linear-gradient(to right, #abffe1 0%, #6dffbd 100%);
}

.DONE::before {
  background-image: linear-gradient(to right, #fec2ff 0%, #fc68ff 100%);
}
